#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif

#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

// id ICON "./assets/win-icon.ico"
// GLFW_ICON ICON "./assets/win-icon.ico"
// CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "manifest.xml"